:root {
  --bg: #0c0c0f;
  --h1: #fff;
  --yellow: #fdfd96;
}

body {
  background-color: var(--bg);
}
.mansion {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

.mansion > svg {
  height: 100%;
  width: 100%;
  /* transform: translateY(-80px); */
}

.mansion h1 {
  padding-top: 1rem;
  color: var(--h1);
  margin: 0 auto;
  text-align: center;
}

#room1,
#room2,
#room3,
#room4,
#room5,
#report {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}
#liveb,
#liveleft,
#liveright,
#liveup {
  cursor: pointer;
}
.parent1 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent2 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent3 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent4 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent5 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.report {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}

.closebutton {
  background-color: transparent;
  color: var(--h1);
  border: none;
  right: 0;
  top: 0;
  position: fixed;
  font-size: 40px;
  cursor: pointer;
}

/* blink animation */

@keyframes blink {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--yellow);
  }
}

.blink {
  animation: blink 0.5s infinite alternate;
}

.btn-primary {
  transform: translateY(-200px);
}

/* modal css */

.modals {
  z-index: 100;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  position: fixed;
}

.modal1 {
  margin: 0 auto;
  width: 30vw;
  height: 70vh;
  margin-top: 6%;
  vertical-align: middle;
  background-color: white;
  border-radius: 12px;
  /* overflow: scroll; */
}

.closebuttonm {
  background-color: transparent;
  color: var(--bg);
  border: none;
  /* right: 0; */
  /* top: 0; */
  margin-left: 20px;
  position: fixed;
  font-size: 40px;
  cursor: pointer;
}

#livingroomfin {
  position: absolute;
  bottom: 160px;
  left: 660px;
}

/* trial css */

h4 {
  margin: 2rem 0rem;
}
.panel {
  border-radius: 4px;
  padding: 1rem;
  margin-top: 0.2rem;
  background-color: #f5f5f5;
  color: #323b40;
}
.panel.panel-blue {
  background-color: #e0f5ff;
  color: #00a5fa;
}
.panel.panel-big-height {
  min-height: 150px;
}
.item {
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
}
.item.item-blue {
  background-color: #b9e5fe;
  color: #00a5fa;
}
.item.item-green {
  background-color: #b7e0dc;
  color: #019888;
}
.item.item-lime {
  background-color: #c7e8c8;
  color: #42b045;
}
.item.item-yellow {
  background-color: #ffeeba;
  color: #ff9901;
}
.item.item-pink {
  background-color: #fabad0;
  color: #ef075f;
}
.item.item-red {
  background-color: #fec9c6;
  color: #fd3d08;
}
.item.item-big-width {
  min-width: 380px;
}
