:root {
  --bg: #0c0c0f;
  --h1: #fff;
  --yellow: #fdfd96;
}

body {
  background-color: var(--bg);
}
.mansion {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

.mansion > svg {
  height: 100%;
  width: 100%;
  /* transform: translateY(-80px); */
}

.mansion h1 {
  padding-top: 1rem;
  color: var(--h1);
  margin: 0 auto;
  text-align: center;
}

#room1,
#room2,
#room3,
#room4,
#room5,
#report {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  position: fixed;
}
#liveb,
#liveleft,
#liveright,
#liveup {
  cursor: pointer;
}
.parent1 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent2 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent3 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent4 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.parent5 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}
.report {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  margin-top: 5%;
  vertical-align: middle;
  background-color: white;
}

.closebutton {
  background-color: transparent;
  color: var(--h1);
  border: none;
  right: 0;
  top: 0;
  position: fixed;
  font-size: 40px;
}

/* blink animation */

@keyframes blink {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--yellow);
  }
}

.blink {
  animation: blink 0.5s infinite alternate;
}

.btn-primary {
  transform: translateY(-200px);
}
