@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --bg: #0c0c0f;
  --h1: #fff;
  --yellow: #fdfd96;
}

body {
  overflow-x: hidden;
  background-color: var(--bg);
}
.mansion {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg);
}

.mansion svg {
  height: 110%;
  width: 100%;
  /* overflow: hidden; */
}

#doorleft,
#doorright {
  height: 20.8vh;
  width: 0.4vw;
  transform: translate(-2px, -9.6px);
}
#doorup,
#doorb {
  width: 5.8vw;
  height: 0.8vh;
  transform: translateX(-5px);
}

/* blink animation */

@keyframes blink {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--yellow);
  }
}

.blink {
  animation: blink 1s infinite alternate;
}

.door {
  cursor: pointer;
}

/* herolanding */
.herolanding {
  width: 100vw;
  height: 115vh;
  background-image: url("https://cdn.discordapp.com/attachments/852945305280577588/859145246541611048/detective_rooom.png");
  background-size: cover;

  /* overflow-x: hidden; */
}

/* content */
.content {
  width: 100vw;
  height: 100vh;
}

.hero {
  text-align: center;
  transform: translateY(-35px);
}

.p1 {
  font-weight: 900;
  color: white;
  font-size: 60px;
  font-family: "Satisfy", cursive;
  /* font-family: "Shadows Into Light", cursive; */
  /* font-family: "Fjalla One", sans-serif; */
}
.span {
  font-family: "Parisienne", cursive;
  font-weight: 700;
  /* color: #933a16; */
  color: #a307bae6;
  font-size: 30px;
}
.logop {
  font-weight: 700;
  color: white;
  font-size: 40px;
  font-family: "Parisienne", cursive;
  font-weight: 900;
  /* color: #933a16; */
  font-size: 50px;
}
/* logostyling */
.logo {
  height: 60vh;
  width: auto;
  margin: 0 auto;
  margin: 20px 0;
}

.teamlogo {
  height: 18vh;
  width: auto;
}

.prep {
  height: auto;
  width: 15vw;
}

/* instruction */
.content {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content img {
  width: auto;
  height: 40vh;
  transform: translate(10px, 98px);
}
.content p {
  font-family: "Parisienne", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
  transform: translateY(50px);
}
.p {
  float: right;
  width: 45vw;
  font-family: "Marck Script", cursive;
  font-size: 19px;
  font-weight: 500;
  margin-right: 2.2%;
}

h1 {
  color: white;
  font-family: "Parisienne", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  transform: translateY(90px);
}

.purple {
  color: #a307bae6;
}
