/* body,
html {
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
} */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
.wrapper {
  width: 100%;
  height: 100%;
  filter: url("#fancy-goo");
  transform: translate(50px, 300px);
}
.vessel {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #d50000, inset 8px -2px #d50000,
    inset 0 -63px 0 -50px #d50000, inset 0 4px #d50000;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -65%);
}
.drop,
.predrop,
.afterdrop,
.goo {
  position: absolute;
  width: 28px;
  height: 20px;
  background-color: #d50000;
  left: 129px;
  border-radius: 9999px;
}
.afterdrop {
  top: 240px;
}
.drop {
  animation: dropping 4s cubic-bezier(1, 0, 0.95, -0.09) infinite;
}
.goo {
  top: 190px;
  width: 25px;
  height: 25px;
  transform: rotate(0deg) translateY(60px);
  animation: rotate 5s cubic-bezier(0.27, 1.22, 0.79, 1.13) infinite;
}
.goo:nth-child(1) {
  animation-delay: 0.0625s;
}
.goo:nth-child(2) {
  animation-delay: 0.125s;
}
.goo:nth-child(3) {
  animation-delay: 0.1875s;
}
.goo:nth-child(4) {
  animation-delay: 0.25s;
}
.goo:nth-child(5) {
  animation-delay: 0.3125s;
}
.goo:nth-child(6) {
  animation-delay: 0.375s;
}
.goo:nth-child(7) {
  animation-delay: 0.4375s;
}
.goo:nth-child(8) {
  animation-delay: 0.5s;
}
.goo:nth-child(9) {
  animation-delay: 0.5625s;
}
.goo:nth-child(10) {
  animation-delay: 0.625s;
}
.goo:nth-child(11) {
  animation-delay: 0.6875s;
}
.goo:nth-child(12) {
  animation-delay: 0.75s;
}
.goo:nth-child(13) {
  animation-delay: 0.8125s;
}
.goo:nth-child(14) {
  animation-delay: 0.875s;
}
.goo:nth-child(15) {
  animation-delay: 0.9375s;
}
.goo:nth-child(16) {
  animation-delay: 1s;
}
.goo:nth-child(17) {
  animation-delay: 1.0625s;
}
.goo:nth-child(18) {
  animation-delay: 1.125s;
}
.goo:nth-child(19) {
  animation-delay: 1.1875s;
}
.goo:nth-child(20) {
  animation-delay: 1.25s;
}
.goo:nth-child(21) {
  animation-delay: 1.3125s;
}
.goo:nth-child(22) {
  animation-delay: 1.375s;
}
.goo:nth-child(23) {
  animation-delay: 1.4375s;
}
.goo:nth-child(24) {
  animation-delay: 1.5s;
}
.goo:nth-child(25) {
  animation-delay: 1.5625s;
}
.goo:nth-child(26) {
  animation-delay: 1.625s;
}
.goo:nth-child(27) {
  animation-delay: 1.6875s;
}
.goo:nth-child(28) {
  animation-delay: 1.75s;
}
.goo:nth-child(29) {
  animation-delay: 1.8125s;
}
.goo:nth-child(30) {
  animation-delay: 1.875s;
}
.goo:nth-child(31) {
  animation-delay: 1.9375s;
}
.goo:nth-child(32) {
  animation-delay: 2s;
}
.goo:nth-child(33) {
  animation-delay: 2.0625s;
}
.goo:nth-child(34) {
  animation-delay: 2.125s;
}
.goo:nth-child(35) {
  animation-delay: 2.1875s;
}
.goo:nth-child(36) {
  animation-delay: 2.25s;
}
.goo:nth-child(37) {
  animation-delay: 2.3125s;
}
.goo:nth-child(38) {
  animation-delay: 2.375s;
}
.goo:nth-child(39) {
  animation-delay: 2.4375s;
}
.goo:nth-child(40) {
  animation-delay: 2.5s;
}
.goo:nth-child(41) {
  animation-delay: 2.5625s;
}
.goo:nth-child(42) {
  animation-delay: 2.625s;
}
.goo:nth-child(43) {
  animation-delay: 2.6875s;
}
.goo:nth-child(44) {
  animation-delay: 2.75s;
}
.goo:nth-child(45) {
  animation-delay: 2.8125s;
}
.goo:nth-child(46) {
  animation-delay: 2.875s;
}
.goo:nth-child(47) {
  animation-delay: 2.9375s;
}
.goo:nth-child(48) {
  animation-delay: 3s;
}
.goo:nth-child(49) {
  animation-delay: 3.0625s;
}
.goo:nth-child(50) {
  animation-delay: 3.125s;
}
.goo:nth-child(51) {
  animation-delay: 3.1875s;
}
.goo:nth-child(52) {
  animation-delay: 3.25s;
}
.goo:nth-child(53) {
  animation-delay: 3.3125s;
}
.goo:nth-child(54) {
  animation-delay: 3.375s;
}
.goo:nth-child(55) {
  animation-delay: 3.4375s;
}
.goo:nth-child(56) {
  animation-delay: 3.5s;
}
.goo:nth-child(57) {
  animation-delay: 3.5625s;
}
.goo:nth-child(58) {
  animation-delay: 3.625s;
}
.goo:nth-child(59) {
  animation-delay: 3.6875s;
}
.goo:nth-child(60) {
  animation-delay: 3.75s;
}
.goo:nth-child(61) {
  animation-delay: 3.8125s;
}
.goo:nth-child(62) {
  animation-delay: 3.875s;
}
.goo:nth-child(63) {
  animation-delay: 3.9375s;
}
.goo:nth-child(64) {
  animation-delay: 4s;
}
.goo:nth-child(65) {
  animation-delay: 4.0625s;
}
.goo:nth-child(66) {
  animation-delay: 4.125s;
}
.goo:nth-child(67) {
  animation-delay: 4.1875s;
}
.goo:nth-child(68) {
  animation-delay: 4.25s;
}
.goo:nth-child(69) {
  animation-delay: 4.3125s;
}
.goo:nth-child(70) {
  animation-delay: 4.375s;
}
.goo:nth-child(71) {
  animation-delay: 4.4375s;
}
.goo:nth-child(72) {
  animation-delay: 4.5s;
}
.goo:nth-child(73) {
  animation-delay: 4.5625s;
}
.goo:nth-child(74) {
  animation-delay: 4.625s;
}
.goo:nth-child(75) {
  animation-delay: 4.6875s;
}
.goo:nth-child(76) {
  animation-delay: 4.75s;
}
.goo:nth-child(77) {
  animation-delay: 4.8125s;
}
.goo:nth-child(78) {
  animation-delay: 4.875s;
}
.goo:nth-child(79) {
  animation-delay: 4.9375s;
}
.goo:nth-child(80) {
  animation-delay: 5s;
}
.goo:nth-child(81) {
  animation-delay: 5.0625s;
}
.goo:nth-child(82) {
  animation-delay: 5.125s;
}
.goo:nth-child(83) {
  animation-delay: 5.1875s;
}
.goo:nth-child(20) {
  animation-name: rotate2;
}
.goo:nth-child(40) {
  animation-name: rotate2;
}
.goo:nth-child(60) {
  animation-name: rotate2;
}
@keyframes dropping {
  from {
    top: 0;
  }
  to {
    top: 238px;
  }
}
@keyframes rotate {
  0% {
    width: 15px;
    height: 15px;
    transform: rotate(0deg) translateY(39.6px);
  }
  75% {
    width: 2px;
    height: 2px;
    transform: rotate(135deg) translateY(160px);
  }
  100% {
    width: 15px;
    height: 15px;
    transform: rotate(180deg) translateY(193px);
  }
}

.loader h1 {
  display: inline-block;
  font-family: "Creepster", cursive;
  color: white;
  text-align: center;
  transform: translate(-70px, 500px);
}
.loader span {
  color: #a307bae6;
}
